body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li a{
    margin-right: 20px;
    
    color: #f0f0f0;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 20px;
}
a{text-decoration: none;}
a:hover{color: greenyellow;}



.banner {
    background-image: url('./images/Banner2.jpg'); 
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 100px 50px;
    margin: 1px 0;
}

.banner h2 {
    margin-bottom: 10px;
}

.banner p {
    max-width: 600px;
    margin: 0 auto;
}

/* Responsive styles */
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }}

    .active{color: greenyellow;}

    
    
    
    
    footer {
        background-color: #333;
        color: white;
        text-align: center;
        /* padding: 1em; */
        position: fixed;
        bottom: 0;
        width: 100%;
        margin-top: 50px;
    }
    
    .horizentalRow{
        margin-bottom: 20px;
        padding: 20px 0px;
    }
    .mainContainer{
        margin-bottom: 50px;
    
        background-color: #ccc;
    }
.sectionHeading{
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.071), 0 3px 10px 0 rgba(0, 0, 0, 0.071);
    text-align: center;
}
.sectionHeading h1{
    color: #7e1111;
    font-size: 3rem;
    padding: 2px 0px;
}





.leaders {
    text-align: center;
    padding: 20px;
    margin-bottom:30px ;
}

.leader {
    display: inline-block;
    width: 45%; /* Adjust as needed */
    margin: 10px;
    border: 1px solid #7e1111;
    padding: 10px;
    box-sizing: border-box;
}

.leader img {
    width: 100%;
    height: auto;
}

.view-more-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 2px;
}

.view-more-btn:hover{
    
    background-color: #6b6464;
}

.areaContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px;
  }
  
  .areaContainer img {
    max-width: 100%;
    max-height:100%;
   
  }

  .areaImage{
    min-width: 500px;
    padding: 10px 20px;
  }
  
  .areaText h1{
    font-size: 25px;
    padding-left: 20px;
    color: #7e1111;
  }
  .areaText h2{
    font-size: 18px;
    padding-left: 20px;
    color: #7e1111;
  }
  .areaText p{
    text-align: justify;
    padding: 5px 20px;
  }

  .milestone{
    color: #7e1111;
  }
  .keyMilestones li{
    margin: 10px 0px;
  }


/* University Cards:START */

.universitiesContainer{
    display: flex;
    margin-bottom: 10px ;
}
.universityCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
    
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .universityCard button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .universityCard button:hover {
    opacity: 0.7;
  }
/* University Card ENds */


.pageIntroductionConainer{

}
.pageIntroductionConainer p{
    text-align: justify;
    padding: 20px 30px;
}