


.leaders {
    text-align: center;
    padding: 20px;
    margin-bottom:30px ;
}

.leader {
    display: inline-block;
    width: 45%; /* Adjust as needed */
    margin: 10px;
    border: 1px solid #7e1111;
    padding: 10px;
    box-sizing: border-box;
}

.leader img {
    width: 100%;
    height: auto;
}

.view-more-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 2px;
}

.view-more-btn:hover{
    
    background-color: #6b6464;
}

.areasContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.area {
    width: 45%; /* Adjust as needed */
    margin: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.area img {
    width: 100%;
    height: auto;
}

.areaDetails {
    flex: 1;
    padding: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .area {
        width: 100%;
    }
}